<launch>
    <param name="use_sim_time" value="true" />

    <!-- Static transforms -->
    <node pkg="tf" type="static_transform_publisher" name="ouster_broadcaster" args="0 0 0 0 0 0 base_link os_sensor 10" />

    <!-- Load configuration parameters -->
    <rosparam command="load" file="$(find ig_lio)/config/ouster128.yaml" />

    <!-- ig_lio node -->
    <node pkg="ig_lio" type="ig_lio_node" name="ig_lio_node" output="screen" />
    
    <!-- Nodelet manager -->
    <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" output="screen" />

    <!-- RViz Visualization -->
    <!---node name="rviz" pkg="rviz" type="rviz" args="-d $(find ig_lio)/rviz/lio_show_mine.rviz" required="true" /-->
</launch>

